<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nursing Certificate Management</title>
    <link rel="stylesheet" href="css/style.css">

</head>

<body>

    <h1>Certificate Management</h1>

    <h2>Insert/Modify </h2>
    <form id="certificationForm">
        <input type="hidden" id="certificationId">
        <label for="nurseId">Nurse ID:</label>
        <input type="number" id="nurseId" required>

        <label for="categorySelect">Subject Category:</label>
        <select id="categorySelect" required>
            <option value="">請選擇類別</option>
        </select>

        <label for="subjectSelect">Subject Name:</label>
        <select id="subjectSelect" required disabled>
            <option value="">請先選擇類別</option>
        </select>

        <input type="hidden" id="subjectId"> <label for="startTime">Start Time:</label>
        <input type="datetime-local" id="startTime" required>

        <label for="endTime">End Time:</label>
        <input type="datetime-local" id="endTime" required>

        <label for="points">Point:</label>
        <input type="number" step="0.1" id="points" required>

        <label for="unit">單位:</label>
        <input type="text" id="unit" readonly>

        <button type="submit" id="submitBtn">新增證書</button>
    </form>
    <div id="message"></div>
    <div id="blockchainContainer" style="display: flex; overflow-x: auto; padding: 20px; gap: 20px;">
    </div>
    </div>
    </div>

    <div class="container">
        <div class="table-header-controls">
            <h2>證書列表</h2>
            <button id="toBlockchainAllBtn">
                一鍵上鏈
            </button>
        </div>

        <div id="loading">載入中...</div>
        <table id="certificationsTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>類別</th>
                    <th>類別代碼</th>
                    <th>護士姓名</th>
                    <th>科目ID</th>
                    <th>科目名稱</th>

                    <th>開始時間</th>
                    <th>結束時間</th>
                    <th>積分</th>
                    <th>開課單位</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <script src="/js/nurse_certification.js"></script>

</body>

</html>